@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.woff2') format('woff2'),
        url('fonts/icons.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #fff;
  padding-bottom: 100px;
  font: 2.5vh 'Source Sans Pro', Helvetica, Arial;
  color: #333;
  text-align: center;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
a {
  text-decoration: none;
  transition: all .3s ease-in-out;
}
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 2.5em;
  margin: 15px 0 0;
}
h2 {
  font-size: 1.4em;
  margin: -8px 0 60px;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.2em;
  margin: 0;
}
.projects, .contacts {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: -10px auto 20px;
  width: 50%;
  text-align: left;
}
.projects > li {
  padding-left: 120px;
  position: relative;
  margin-bottom: 50px;
}
.projects > li:before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 18px;
  border: 1px solid #eee;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 8px;
}
.kyiv-murals:before {
  background-image: url("images/kyiv-murals.png");
}
.kyiv-murals a {
  color: #fb5f53;
}
.kyiv-murals a:hover {
  color: #fb180c;
}
.friends-at:before {
  background-image: url("images/friends-at.png");
}
.friends-at a {
  color: #ffcc00;
}
.friends-at a:hover {
  color: #e7bc10;
}
.interval-run:before {
  background-image: url("images/interval-run.png");
}
.interval-run a {
  color: #57c0da;
}
.interval-run a:hover {
  color: #04a0da;
}
.nova-poshta:before {
  background-image: url("images/nova-poshta.png");
}
.nova-poshta a {
  color: #ed1c24;
}
.nova-poshta a:hover {
  color: #ce181f;
}
.procoach:before {
  background-image: url("images/procoach.png");
}
.procoach a {
  color: #4db7dd;
}
.procoach a:hover {
  color: #21a7d7;
}
.meshed:before {
  background-image: url("images/meshed.png");
}
.meshed a {
  color: #2c7dab;
}
.meshed a:hover {
  color: #2d5986;
}
.transom:before {
  background-image: url("images/transom.png");
}
.transom a {
  color: #1177FF;
}
.transom a:hover {
  color: #1162FF;
}
.karmic:before {
  background-image: url("images/karmic.png");
}
.karmic a {
  color: #FF6F00;
}
.karmic a:hover {
  color: #FF4E00;
}
.projects > li p {
  margin: 6px 0 0;
}
.contacts {
  width: 90%;
  margin: -20px auto 70px;
  text-align: center;
  font-size: 1.2em;
}
.contacts li {
  display: inline-block;
  margin-left: 60px;
}
.contacts li:first-child {
  margin-left: 0;
}
.contacts a {
  position: relative;
  color: #fb5f53;
}
.contacts a:hover {
  color: #fb180c;
}
.contacts a:before {
  font-family: "icons";
  font-size: 1.5em;
  margin-right: 1.2vh;
  position: relative;
  top: .8vh;
}
.email:before {
  content: "\e800";
}
.twitter:before {
  content: "\f30a";
}
.telegram:before {
  content: "\f2c6";
}

@media (max-width: 1120px) {
  body {
    font-size: 20px;
  }
  .projects, .contacts {
    width: 90%;
  }
}
@media (max-width: 920px) {
  .contacts {
    width: 96%; 
  }
}
@media (max-width: 850px) {
  .contacts {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts li {
    display: block;
    margin: 0;
    text-align: left;
  }
}
@media (max-width: 375px) {
  .contacts {
    font-size: 1.1em;
  }
}